<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

		{{ posts }}
            	<time>published: 14.06.2014, 12:14</time>
            	<h2><a href="">Doris's first post</a></h2>
            	<p>Hi guys. This is my first post in html. This is part of the M05 tutorial assignment.</p>
 

        	{{ posts }}
            	<time>published: 14.06.2014, 12:14</time>
            	<h2><a href="">Her second post</a></h2>
            	<p>This is my second post. I don't know what to say here.</p>
        

        {% for post in posts %}
    		<article>
        		<time>published: {{ post.published_date }}</time>
        		<h2><a href="">{{ post.title }}</a></h2>
        		<p>{{ post.text|linebreaksbr }}</p>
    		</article>
	  {% endfor %}
    </body>
</html>